---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="pt-10 w-full grid grid-cols-3 divide-x-2 divide-[var(--color-op)] gap-2 grid-flow-col"
  >
    <div class="col-span-2 grid grid-rows-2 p-2">
      <div class="flex items-center justify-center">
        <div
          class="grid grid-cols-2 place-items-center divide-x-2 divide-[var(--color-op)] gap-4"
        >
          <div class="mx-auto p-2">
            <h1
              class="text-4xl font-semibold uppercase tracking-wider font-montserrat text-[var(--color-a)]"
            >
              Hello world
            </h1>
            <p
              class="font-robotoCondensed text-lg tracking-wide text-[var(--color-p)]"
            >
              What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and scrambled it to make a
              type specimen book. It has survived not only five centuries, but
              also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently
              with desktop publishing software like Aldus PageMaker including
              versions of Lorem Ipsum.
            </p>
          </div>

          <div
            class="w-full h-full p-2 bg-[var(--color-s)] flex items-center justify-center"
          >
            <div class="p-4 rounded-sm">
              <p>fff</p>
            </div>
          </div>
        </div>
      </div>
      <div>d</div>
    </div>
    <div class="">d</div>
  </div>
</Layout>
